@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #202124;
  color: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fefefe;
}

.home-container {
  border: 1px solid #5f6368;
  border-radius: 5px;
  padding: 2rem 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container a {
  width: 15rem;
  padding: 1rem;
  text-align: center;
  background-color: #202124;
  border: 1px solid #5f6368;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

.home-container a:hover {
  background-color: #5f6368;
}

.quiz-container {
  border: 1px solid #5f6368;
  border-radius: 5px;
  padding: 2rem 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: display 1s ease-in-out;
}

#progress-bar-container {
  display: block;
  position: fixed;
  bottom: 0%;
  left: 0%;
  border: 1px solid #5f6368;
  border-radius: 5px;
  width: 100%;
  height: 10px;
}

#progress-bar {
  width: 0%;
  height: 100%;
  background-color: #fefefe;
  transition: all 0.5s ease-in-out;
}

#result-container {
  border: 1px solid #5f6368;
  border-radius: 5px;
  padding: 2rem 3rem;
  display: none;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#result-container a {
  width: 15rem;
  padding: 1rem;
  text-align: center;
  background-color: #202124;
  border: 1px solid #5f6368;
  border-radius: 5px;
  transition: background-color 0.2s ease-in-out;
}

#result-container a:hover {
  background-color: #5f6368;
}

#name-input {
  width: 15rem;
  height: 1.5rem;
  text-align: center;
  background-color: #202124;
  border: 1px solid #5f6368;
  color: #fefefe;
  font-family: "Roboto", sans-serif;
}

#start-btn {
  display: block;
}

.btn {
  width: 10rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: #202124;
  border: 1px solid #5f6368;
  color: #fefefe;
  cursor: pointer;
  margin-top: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #5f6368;
}

.radio-btn {
  display: none;
}

label {
  display: inline-block;
  padding: 10px 20px;
  background-color: #202124;
  color: #fefefe;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #5f6368;
  width: 100%;
  text-align: center;
}

input[type="radio"]:checked + label {
  background-color: #5f6368;
}

#question-1 {
  display: none;
}

#question-2 {
  display: none;
}

#question-3 {
  display: none;
}

#question-4 {
  display: none;
}
