@font-face {
  font-family: "Graphik-Regular";
  src: url(./assets/fonts/GraphikRegular.otf);
}
@font-face {
  font-family: "Graphik-Semibold";
  src: url(./assets/fonts/GraphikMedium.otf);
}
@font-face {
  font-family: "Graphik-Bold";
  src: url(./assets/fonts/GraphikBold.otf);
}
@font-face {
  font-family: "Graphik-Light";
  src: url(./assets/fonts/GraphikLight.otf);
}

:root {
  --primary-background: #250095;
  --secondary-background: #eeebeb;
  --accent-color: #000000;
  --higlight-color: #2cda9d;
  --error-color: #e26d5a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Graphik-Bold", sans-serif;
  font-size: 16px;
  background-color: var(--primary-background);
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #000000;
}

.home-container {
  background-color: var(--secondary-background);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 2rem 3rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 0px 0px #000000;
}

.home-container a {
  width: 15rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--secondary-background);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.home-container a:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
  outline: none;
}

.quiz-link-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.quiz-container {
  background-color: var(--secondary-background);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 2rem 3rem;
  margin: 0rem 2rem;
  display: flex;
  gap: 1rem;
  max-width: 750px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 0px 0px var(--accent-color);
}

.quiz-container h1 {
  margin-bottom: 5px;
  font-size: 1.5rem;
}

#question-container {
  display: none;
}

#progress-bar-container {
  display: block;
  position: fixed;
  top: 0%;
  left: 0%;
  border: 2px solid var(--accent-color);
  width: 100%;
  height: 20px;
  background-color: var(--secondary-background);
}

#progress-bar {
  width: 0%;
  height: 100%;
  background-color: var(--higlight-color);
  transition: all 0.5s ease-in-out;
}

#result-container {
  background-color: var(--secondary-background);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  padding: 2rem 3rem;
  display: none;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 0px 0px var(--accent-color);
}

#result-container a {
  width: 15rem;
  padding: 1rem;
  text-align: center;
  background-color: var(--secondary-background);
  border: 2px solid var(--accent-color);
  border-radius: 5px;
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

#result-container a:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
  outline: none;
}

#name-input {
  width: 15rem;
  height: 2.5rem;
  text-align: center;
  background-color: var(--secondary-background);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: "Graphik-Bold", sans-serif;
  border-radius: 5px;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

#name-input:hover {
  box-shadow: 5px 5px 0px 0px var(--accent-color);
}

#name-input:focus {
  box-shadow: 5px 5px 0px 0px var(--accent-color);
  outline: none;
}

.shake-horizontal {
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    transform: translateX(10px);
  }
  80% {
    transform: translateX(8px);
  }
  90% {
    transform: translateX(-8px);
  }
}

#start-btn {
  display: block;
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

#start-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
  outline: none;
}

.btn {
  width: 10rem;
  height: 3rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--secondary-background);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  cursor: pointer;
  margin-top: 1rem;
  font-family: "Graphik-Bold", sans-serif;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.submit-btn {
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

.submit-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
  outline: none;
}

.submit-btn:active {
  transform: translate(2px, 2px);
  box-shadow: none;
  outline: none;
}

.radio-btn {
  display: none;
}

#home-btn {
  position: fixed;
  display: flex;
  bottom: 0%;
  left: 0%;
  height: 2.5rem;
  width: 8rem;
  margin: 20px 10px;
  font-size: 0.7rem;
  font-family: Graphik-Regular, sans-serif;
  padding: 0px;
  gap: 3px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

#home-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
  outline: none;

  .back-arrow {
    transform: translateX(-5px);
  }
}

.back-arrow {
  width: 14px;
  height: 14px;
  margin-bottom: 2px;
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

#feedback-btn {
  position: fixed;
  display: flex;
  bottom: 0%;
  right: 0%;
  height: 2.5rem;
  width: 8rem;
  margin: 20px 10px;
  font-size: 0.7rem;
  font-family: Graphik-Regular, sans-serif;
  padding: 0px;
  gap: 8px;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

#feedback-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
  outline: none;

  .mail-icon {
    transform: rotate(20deg);
  }
}

.mail-icon {
  width: 14px;
  height: 14px;
  margin-bottom: 5px;
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

label {
  font-family: "Graphik-Regular", sans-serif;
  display: inline-block;
  padding: 10px 20px;
  margin: 5px 0px;
  background-color: var(--secondary-background);
  color: var(--accent-color);
  cursor: pointer;
  border-radius: 5px;
  border: 2px solid var(--accent-color);
  width: 100%;
  text-align: center;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

label:hover {
  box-shadow: 5px 5px 0px 0px var(--accent-color);
}

input[type="radio"]:checked + label {
  box-shadow: 5px 5px 0px 0px var(--primary-background);
  transform: scale(103%);
}

#answers-container {
  display: none;
  max-width: 600px;
  margin: 25px 10px;
  text-align: center;
  align-items: end;
  gap: 50px;
}

#answers-container h1 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

#answers-btn {
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7),
    box-shadow 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

#answers-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: none;
  outline: none;
}

.correct {
  background-color: var(--higlight-color) !important;
}

.user-selected {
  background-color: var(--error-color);
}

#follow-link {
  position: fixed;
  bottom: 0%;
  color: var(--secondary-background);
  margin-bottom: 30px;
  font-family: "Graphik-Regular";
  transition: transform 0.3s cubic-bezier(0.5, 2.5, 0.7, 0.7);
}

#follow-link:hover {
  transform: scale(1.2);
}

#bmc-wbtn {
  left: 18px;
}

#bmc-iframe {
  left: 18px;
  transform-origin: left bottom !important;
}
